<div class="row center-align fix">
  <div class="col s12  center-align">
    <div class="card light-blue darken-1 center-align">
      <div class="card-content white-text ">
        <span class="card-title">PASSENGER </span>
        <table>
          <thead>
            <tr>
              <th>PASSENGER INFORMATION</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>{{book[4]}}</td>
              <td>{{book[5]}}</td>
              <td>{{book[6]}}</td>
              <td>{{book[7]}}</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row center-align fix">
  <div class="col s12  center-align">
    <div class="card light-blue darken-1 center-align">
      <div class="card-content white-text center-align">
        <span class="card-title">E-TICKET RECIEPT </span>

        <table>
          <thead>
            <tr>
              <th>DEPARTURE</th>
              <th>ARRIVAL</th>


            </tr>
          </thead>

          <tbody>
            <tr>
              <td> {{book[2]}}</td>
              <td>{{book[3]}}

            </tr>

          </tbody>
        </table>
        <table>
          <thead>
            <tr>
              <th>E-TICKET NUMBER</th>
              <th>PRICE</th>

            </tr>
          </thead>

          <tbody>
            <tr>
              <td> {{rand}}</td>
              <td>$100,000.00 USD</td>
            </tr>

          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
