@model MVC.Models.Flight

@{
    ViewBag.Title = "CreateFlight";
}

<h2>Create New Flight</h2>


<div class="row">
    <div class="col-md-4">
        <form for="CreateFlight" method="post">
            <div class="form-group">
                <label for="Name" class="control-label">Course Name:</label>
                <input name="Name" class="form-control input-sm" />
                <span for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select name="ProfessorId" size="4" class="selectpicker form-control">
                    <option value="" selected>No Professor Assigned</option>
                    @foreach (var professor in Model)
                    {
                        <option value="@professor.Id">@professor.LastName, @professor.FirstName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="CreditHours" class="control-label">Credit Hours:</label>
                <input type="number" min="2" max="6" name="CreditHours" class="form-control input-sm" />
                <span for="CreditHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="StartDate" class="control-label">Start Date:</label>
                <input type="date" name="StartDate" class="form-control input-sm" />
                <span for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="EndDate" class="control-label">End Date:</label>
                <input type="date" name="EndDate" class="form-control input-sm" />
                <span for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="StartTime" class="control-label">Start Time:</label>
                <input type="time" name="StartTime" class="form-control input-sm" />
                <span for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Length" class="control-label">Class Length</label>
                <input type="number" min="50" max="75" name="Length" class="form-control input-sm" />
                <span for="Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="StudentCapacity" class="control-label">Student Capacity</label>
                <input type="number" min="10" max="30" name="StudentCapacity" class="form-control input-sm" />
                <span for="StudentCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="/Flight/Index/">Back to List</a>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
