<html>
<head>
    <title>Horizon | Interplanetary Travel</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.5/angular-material.min.css" />
    <link rel="stylesheet" href="~/SPA/Style/style.css" />

    <script src="~/SPA/Controller/TableController.js"></script>
    <script src="~/SPA/Controller/MainController.js"></script>
    <script src="~/SPA/App.js"></script>

</head>
<body>
    <div ng-app="App" ng-controller="MainController">
        <nav>
            <div class="nav-wrapper white">
                <a href="#" class="brand-logo black-text">HORIZON</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a class="black-text black" href="sass.html">SIGN UP</a></li>
                    <li><a class="black-text" href="badges.html">LOGIN</a></li>
                    <li><a class="black-text" href="collapsible.html">FLIGHTS</a></li>
                    <li><a class="black-text" href="badges.html">INFO</a></li>
                    <li><a class="black-text" href="collapsible.html">STATUS</a></li>
                </ul>
            </div>
        </nav>

        <div ng-view>

        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="~/SPA/3.js/three.js/build/three.js"></script>

    <script src="~/SPA/3.js/three.js/examples/js/renderers/Projector.js"></script>
    <script src="~/SPA/3.js/three.js/examples/js/renderers/CanvasRenderer.js"></script>
    <script src="~/SPA/3.js/src/earth.js"></script>
</body>
</html>