@model MVC.Models.Passenger

@{
    ViewBag.Title = "CreatePassenger";
}

<h1>Administrator</h1>
<h4>Create Passenger</h4>


<div class="row">
    <div class="col-md-4">
        <form for="CreatePassenger" method="post">
            <div class="form-group">
                <label for="Destination" class="control-label">Destination:</label>
                <input name="Destination" type="text" class="form-control input-sm" />
                <span for="Destination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Departure" class="control-label">Departure:</label>
                <input type="text" name="Departure" class="form-control input-sm" />
                <span for="Departure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Depart_time" class="control-label">Depart Time:</label>
                <input type="time" name="Depart_time" class="form-control input-sm" />
                <span for="Depart_time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Depart_date" class="control-label">Depart Date:</label>
                <input type="date" name="Depart_date" class="form-control input-sm" />
                <span for="Depart_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Arrival_time" class="control-label">Arrival Time:</label>
                <input type="time" name="Arrival_time" class="form-control input-sm" />
                <span for="Arrival_time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Arrival_date" class="control-label">Arrival Date:</label>
                <input type="date" name="Arrival_date" class="form-control input-sm" />
                <span for="Arrival_date" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="Aircraft_id" class="control-label">Aircraft Number</label>
                <input type="number" name="Aircraft_id" class="form-control input-sm" />
                <span for="Aircraft_id" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create Passenger" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="/Flight/Index/">Back to List</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
