
<div class="row center-align">
    <div class="col s12  center-align">
        <div class="card light-blue darken-1 center-align">
            <div class="card-content white-text ">
                <span class="card-title">PASSENGER </span>
                <p>
                  {{book}}
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row center-align">
    <div class="col s12  center-align">
        <div class="card light-blue darken-1 center-align">
            <div class="card-content white-text center-align">
                <span class="card-title">E-TICKET RECIEPT </span>
                <p>
                  {{book}}
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row center-align">
    <div class="col s12  center-align">
        <div class="card light-blue darken-1 center-align">
            <div class="card-content white-text center-align">
                <span class="card-title">FARE INFORMATION </span>
                <table>
<thead>
<tr>
    <th>TRIP</th>
    <th>PRICE</th>

</tr>
</thead>

<tbody>
<tr>
  <td>ROUNDTRIP</td>
  <td>$100,000.00</td>
</tr>

</tbody>
</table>
            </div>
        </div>
    </div>
</div>
